/////////////////////////////////
//    Theme Primary Colors
//////////////////////////////////
$white: #fff;
$whiteSecondary: #F3F3F3;
$black: #000;
$primary: #285852;
$secondary: #6B6B77;
$orange: #CD836D;
$dark_gray: #424242;
$mainly_blue: #06222d;
$blue: #3e7299;
$gray: #474747;
$eclipse: #3A3A3A;
$charcoal: #454545;
$dark_green: #616F6E;
$dark_gray2: #3e3e3e;
$bright_gray: #54595F;
$gray53: #878787;
$gray10: #E6E6E6;
$matterhorn: #4B4B4B;
$overlay: #2C5A75;
/////////////////////////////////
//        FONT SIZES
//////////////////////////////////
$font62: 62px;
$font60: 60px;
$font56: 56px;
$font54: 54px;
$font50: 50px;
$font48: 48px;
$font47: 47px;
$font44: 44px;
$font42: 42px;
$font41: 41px;
$font40: 40px;
$font38: 38px;
$font37: 37px;
$font36: 36px;
$font35: 35px;
$font34: 34px;
$font33: 33px;
$font32: 32px;
$font31: 31px;
$font30: 30px;
$font29: 29px;
$font28: 28px;
$font27: 27px;
$font26: 26px;
$font25: 25px;
$font24: 24px;
$font23: 23px;
$font22: 22px;
$font21: 21px;
$font20: 20px;
$font19: 19px;
$font18: 18px;
$font17: 17px;
$font16: 16px;
$font15: 15px;
$font14: 14px;
$font13: 13px;
$font12: 12px;
$font11: 11px;
$font10: 10px;
$font8: 8px;