@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: 'Al Qabas';
    src: url('~assets/font/AlQabas-Light.eot');
    src: url('~assets/font/AlQabas-Light.eot?#iefix') format('embedded-opentype'), url('~assets/font/AlQabas-Light.woff2') format('woff2'), url('~assets/font/AlQabas-Light.woff') format('woff'), url('~assets/font/AlQabas-Light.ttf') format('truetype'), url('~assets/font/AlQabas-Light.svg#AlQabas-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al Qabas';
    src: url('~assets/font/AlQabas-Regular.eot');
    src: url('~assets/font/AlQabas-Regular.eot?#iefix') format('embedded-opentype'), url('~assets/font/AlQabas-Regular.woff2') format('woff2'), url('~assets/font/AlQabas-Regular.woff') format('woff'), url('~assets/font/AlQabas-Regular.ttf') format('truetype'), url('~assets/font/AlQabas-Regular.svg#AlQabas-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al Qabas';
    src: url('~assets/font/AlQabas-Bold.eot');
    src: url('~assets/font/AlQabas-Bold.eot?#iefix') format('embedded-opentype'), url('~assets/font/AlQabas-Bold.woff2') format('woff2'), url('~assets/font/AlQabas-Bold.woff') format('woff'), url('~assets/font/AlQabas-Bold.ttf') format('truetype'), url('~assets/font/AlQabas-Bold.svg#AlQabas-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('~assets/font/Helvetica.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('~assets/font/helvetica-light.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('~assets/font/Helvetica-Bold.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Helvetica';
  src: url('~assets/font/helvetica-medium.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// font created by Sebastian "Seb" Lester
@font-face {
    font-family: 'NeoSans';
    src: url('~assets/font/NeoSansW23-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeoSans';
    src: url('~assets/font/NeoSansW23-Light.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

// font made from http://www.onlinewebfonts.com "Web Fonts"
@font-face {
    font-family: 'NeoSans';
    src: url('~assets/font/NeoSansW23Medium.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeoSans';
    src: url('~assets/font/NeoSansW23-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}