@media (min-width: 1400px) {
    .container {
        max-width: 1150px;
    }
}

@media (max-width: 1600px) {
    .locationContent {
        padding: 40px;
    }
}

@media (max-width: 1300px) {
    .arrived-drone-sec .image-holder h4 {
        font-size: 40px;
        line-height: 60px;
        padding: 40px;
    }
    .arrived-drone-sec .text-box {
        padding: 50px;
    }
    .arrived-drone-sec .text-box h4 {
        font-size: 30px;
        line-height: 40px;
    }
    .arrived-drone-sec .text-box p {
        margin: 24px 0;
    }
    .advantage-sec .text-list ul li {
        margin: 0 0 15px 0;
    }
    h3 {
        font-size: 40px;
        line-height: 54px;
    }
    .arrived-drone-sec .image-holder {
        height: 650px;
    }
    .about-us-section .about-us-right {
        padding: 40px;
        height: 560px;
    }
    .about-us-section .about-us-right .text-box h3 {
        margin: 0 0 15px 0;
    }
    .about-us-section .about-us-right .text-box h4 {
        font-size: 34px;
        line-height: 44px;
    }
    .estimated-future-sec {
        padding: 160px 0;
    }
    .estimated-future-sec .estimated-future-left p {
        font-size: 30px;
        line-height: 42px;
    }
    .estimated-future-sec .estimated-future-right p {
        font-size: 30px;
    }
    .heroServices .text-box {
        padding: 50px;
    }
    .locationContent .caption h3 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .partner-franchise .opertunityBox {
        padding: 170px 40px;
    }
    .partner-franchise .text-box {
        padding: 20% 6%;
    }
    .estimate .text-box {
        padding: 150px 40px;
    }
    .estimate .text-box p {
        font-size: 30px;
        line-height: 44px;
    }
    .estimate .text-box h2 {
        font-size: 60px;
        line-height: 70px;
    }
    .estimate .text-box h4 {
        font-size: 30px;
        line-height: 40px;
    }
    .how-ktv .text-box {
        padding: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .how-ktv .text-box h3 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 40px;
    }
}

@media (max-width: 1199px) {
    header .navigation .navbar .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        padding: 0 10px;
    }
    header .navigation .navbar .navbar-nav .nav-item .nav-link.pertner-btn {
        height: 40px;
        width: 175px;
    }
    header .navigation .navbar .navbar-brand img {
        height: 60px;
    }
    .hero-section .banner-inner .banner-form {
        padding: 30px;
        max-width: 425px;
    }
    .vacant-pilot-section .text-box .media h4 {
        font-size: 30px;
    }
    .let-talk-sec {
        padding: 200px 0px;
    }
    .let-talk-sec .let-talk-left p {
        font-size: 34px;
        line-height: 42px;
    }
    .let-talk-sec .let-talk-left h4 {
        font-size: 50px;
        line-height: 54px;
        margin: 0 0 10px 0;
    }
    .about-us-section .about-us-left {
        padding: 30px;
    }
    .about-us-section .about-us-right {
        padding: 30px;
        height: 500px;
    }
    .estimated-future-sec .estimated-future-left p {
        font-size: 24px;
        line-height: 34px;
    }
    .hero-section {
        height: 810px;
        overflow: hidden;
    }
    .shape-bottom {
        bottom: 0px;
    }
    .heroServices .heroFlag {
        padding: 50px;
    }
    .heroServices .text-box {
        padding: 30px;
    }
    .heroServices .text-box p {
        margin-bottom: 10px;
    }
    .heroServices .heroFlag .titleText p {
        font-size: 36px;
        line-height: 44px;
    }
    .service .text-box h4 {
        font-size: 34px;
        line-height: 44px;
        margin: 5px 0 20px;
    }
    .franchise {
        min-height: 450px;
        padding: 80px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .working-growth {
        padding: 100px 0 70px 0;
    }
    .locationContent {
        padding: 40px 20px;
    }
    .locationContent .caption h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .locationContent .caption p {
        margin-bottom: 10px;
    }
    .news-box .text-box h5 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }
    .solarPanel .solarBox {
        padding: 30px;
    }
    .solarPanel .caption {
        padding: 30px;
        min-height: 600px;
    }
    .standardSolar {
        padding: 100px 0;
    }
    .cleaning h2 {
        font-size: 38px;
        line-height: 48px;
    }
    .cleaning p {
        font-size: 32px;
        line-height: 42px;
    }
    .partner-franchise .opertunityBox h2 {
        font-size: 50px;
        line-height: 58px;
    }
    .partner-franchise .opertunityBox p {
        font-size: 32px;
        line-height: 42px;
    }
    .estimate .text-box {
        padding: 150px 0px;
    }
    .estimate .text-box p {
        font-size: 24px;
        line-height: 36px;
    }
    .how-ktv .text-box {
        padding: 40px 20px;
    }
    .family .text-box {
        padding: 80px 0;
    }
}

@media (max-width: 991px) {
    header .navigation .navbar .navbar-brand img {
        height: 50px;
    }
    header .navigation .navbar .navbar-nav .nav-item .nav-link {
        font-size: 13px;
        padding: 0 6px;
    }
    header .navigation .navbar .navbar-nav .nav-item {
        margin-left: 0px;
    }
    header .navigation .navbar .navbar-nav .nav-item:last-child {
        margin-left: 10px;
    }
    header .navigation .navbar .navbar-nav .nav-item .nav-link.pertner-btn {
        height: 40px;
        width: 160px;
    }
    .hero-section {
        height: 740px;
    }
    .hero-section .banner-inner .banner-form {
        padding: 30px;
        max-width: 380px;
        border-radius: 15px 50px;
    }
    .hero-section .banner-inner .banner-form .text-box {
        margin: 0 0 15px 0;
    }
    .hero-section .banner-inner .banner-form .text-box h3 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 10px 0;
    }
    .hero-section .banner-inner .banner-form .text-box p {
        margin-bottom: 8px;
    }
    .title h2 {
        font-size: 48px;
        margin: 0 0 15px 0;
    }
    .title p {
        font-size: 28px;
        line-height: 36px;
    }
    .services-section {
        padding: 90px 0;
    }
    .vacant-pilot-section .text-box .media img {
        height: 45px;
    }
    .vacant-pilot-section .text-box .media h4 {
        font-size: 22px;
    }
    .btn-secondary {
        height: 50px;
        padding: 0 20px;
        font-size: 14pX;
    }
    .arrived-drone-sec .image-holder h4 {
        font-size: 30px;
        line-height: 38px;
        padding: 20px;
    }
    .arrived-drone-sec .text-box {
        padding: 20px;
    }
    .arrived-drone-sec .text-box h4 {
        font-size: 22px;
        line-height: 30px;
    }
    .arrived-drone-sec .text-box p {
        margin: 10px 0;
    }
    .arrived-drone-sec .image-holder {
        height: 570px;
    }
    h3 {
        font-size: 30px;
        line-height: 44px;
    }
    .advantage-sec {
        padding: 90px 0;
    }
    .advantage-sec .text-list ul li span {
        max-width: 32px;
        width: 100%;
        margin: 0 10px 0 0px;
    }
    .advantage-sec .text-list ul li span img {
        height: 30px;
    }
    .advantage-sec .text-list ul li p {
        font-size: 16px;
        line-height: 20px;
    }
    .arrived-drone-sec .image-holder {
        height: 480px;
    }
    .let-talk-sec {
        padding: 130px 0px;
    }
    .let-talk-sec .let-talk-left p {
        font-size: 26px;
        line-height: 40px;
    }
    .let-talk-sec .let-talk-right p {
        font-size: 16px;
        margin: 0 0 24px 0;
        line-height: 24px;
    }
    .intention-sec {
        padding: 100px 0;
    }
    .intention-sec .intention-right {
        padding: 0;
    }
    .about-us-section .about-us-left h4 {
        font-size: 30px;
        line-height: 36px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    .about-us-section .about-us-left {
        padding: 20px;
    }
    .about-us-section .about-us-left p {
        line-height: 22px;
        margin: 20px 0;
    }
    .about-us-section .about-us-right {
        padding: 20px;
        height: 440px;
    }
    .about-us-section .about-us-right .text-box h4 {
        font-size: 28px;
        line-height: 36px;
    }
    .estimated-future-sec {
        padding: 100px 0;
    }
    .estimated-future-sec .estimated-future-left p {
        font-size: 20px;
        line-height: 30px;
    }
    .estimated-future-sec .estimated-future-right p {
        font-size: 22px;
    }
    .working-growth-sec {
        padding: 100px 0;
    }
    .working-growth-sec .text-box h4 {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 22px;
    }
    .safety-statement-sec {
        padding: 120px 0 60px;
    }
    .safety-statement-sec .text-box ul {
        padding: 10px 0 15px 10px;
    }
    .safety-statement-sec .text-box ul li {
        font-size: 14px;
        line-height: 22px;
        padding-left: 14px;
    }
    .populated-sec img {
        height: 400px;
    }
    .work-stand-sec {
        padding: 100px 0;
    }
    .development-sec {
        padding: 130px 0 100px;
    }
    .development-sec .text-box {
        padding: 0 0 0 0;
    }
    .development-sec .development-left p {
        font-size: 32px;
        line-height: 1;
    }
    footer .footer-left p {
        font-size: 14px;
        padding-left: 10px;
    }
    .footer-left span img {
        height: 38px;
    }
    .method,
    .standardSolar {
        padding: 100px 0;
    }
    .service {
        padding: 50px 0;
    }
    .advantages {
        padding: 100px 0;
    }
    .globalReach {
        padding: 80px 0;
    }
    .locationContent {
        padding: 50px 20px;
    }
    .working-growth {
        padding: 50px 0;
    }
    .working-growth img {
        margin: 30px 0 0 0;
    }
    .news-sec .news-inner h4 {
        font-size: 30px;
        margin: 0 0 10px 0;
    }
    .detail-card h3 {
        font-size: 26px;
    }
    .solarPanel .solarBox {
        padding: 120px 30px 80px;
    }
    .solarPanel .caption {
        padding: 50px 30px;
        min-height: auto;
    }
    .safetyStand {
        padding: 100px 0;
    }
    .hero-section.partner {
        height: 440px;
    }
    .hero-section .container .titleText h2 {
        font-size: 50px;
        line-height: 53px;
        max-width: 460px;
        margin-bottom: 20px;
    }
    .cleaning h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .partner-franchise .opertunityBox h2 {
        font-size: 42px;
        line-height: 48px;
    }
    .partner-franchise .opertunityBox p {
        font-size: 26px;
        line-height: 36px;
    }
    .partner-franchise .opertunityBox {
        padding: 140px 20px;
    }
    .partner-franchise .text-box {
        padding: 50px 20px;
    }
    .estimate {
        padding: 30px 0;
    }
    .estimate .text-box {
        padding: 20px 10px;
    }
    .advantages {
        padding: 50px 0;
    }
    .how-ktv .text-box {
        padding: 50px 20px;
    }
    .family {
        background: #212121;
        padding: 50px 10px;
    }
    .family .text-box {
        padding: 0;
    }
    .family .text-box h3 {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .container,
    .container-sm {
        max-width: 100%;
    }
    header {
        padding: 20px 0;
    }
    header .container-fluid {
        padding: 0;
    }
    header .navigation .navbar .navbar-brand {
        margin-left: 20px;
    }
    .navbar-toggler {
        padding: 5px;
        border: none;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: center;
        margin-right: 20px;
    }
    .navbar-toggler span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20px;
        height: 3px;
        margin: 0 0 3px 0;
        background-color: #fff;
    }
    .navbar-toggler span:last-child {
        margin: 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background-color: #212121;
        padding: 10px 0 30px;
        transition: all 0.3s ease-in-out;
    }
    header .navigation .navbar .navbar-nav .nav-item {
        margin-left: 0px;
        width: 100%;
        justify-content: flex-start;
    }
    header .navigation .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 15px 20px;
        width: 100%;
    }
    header .navigation .navbar .navbar-nav .nav-item .nav-link.pertner-btn {
        height: 50px;
        width: auto;
        padding: 0px 20px;
    }
    header .navigation .navbar .navbar-nav .nav-item:last-child {
        margin-left: 20px;
    }
    .header-shape,
    .shape-bottom {
        display: none;
    }
    .hero-section {
        height: auto;
    }
    .hero-section .container-fluid {
        padding: 0;
    }
    .hero-section .banner-inner {
        position: static;
        transform: translate(0, 0);
    }
    .hero-section .banner-inner .banner-form {
        padding: 50px;
        max-width: 100%;
        border-radius: 0;
        margin: -6px 0 0 0;
    }
    .hero-section .banner-inner .banner-form .text-box {
        margin: 0 0 30px 0;
    }
    .hero-section .banner-inner .banner-form .text-box h3 {
        font-size: 28px;
        line-height: 38px;
        margin: 0 0 15px 0;
    }
    .hero-section .banner-inner .banner-form .text-box p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .hero-section iframe {
        width: 100% !important;
        height: 330px !important;
        object-fit: cover;
        object-position: center;
    }
    .services-section {
        padding: 50px 10px;
        .services-inner {
            margin: 15px 0 0 0;
            .text-box {
                margin: 0 0 30px 0;
                p {
                    margin: 10px 0 20px 0;
                }
            }
        }
    }
    .title h2 {
        font-size: 38px;
        margin: 0 0 10px 0;
    }
    .title p {
        font-size: 20px;
        line-height: 24px;
    }
    
    .vacant-pilot-section {
        padding: 50px 0;
    }
    .vacant-pilot-section .text-box,
    .vacant-pilot-section .text-box .media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .vacant-pilot-section .text-box .media img {
        height: 60px;
    }
    .vacant-pilot-section .text-box .media h4 {
        font-size: 26px;
        margin: 20px 0;
    }
    .arrived-drone-sec .image-holder h4 {
        font-size: 38px;
        line-height: 50px;
        padding: 20px;
    }
    .arrived-drone-sec .image-holder {
        height: auto;
        display: flex;
        align-items: center;
    }
    .arrived-drone-sec .text-box {
        padding: 50px 20px;
    }
    .arrived-drone-sec .text-box h4 {
        font-size: 26px;
        line-height: 38px;
    }
    .advantage-sec {
        padding: 50px 10px;
    }
    .advantage-sec .text-box h3 {
        margin-bottom: 30px;
    }
    .let-talk-sec {
        padding: 50px 10px;
    }
    .intention-sec {
        padding: 50px 10px;
    }
    .intention-sec .intention-left {
        height: auto;
        justify-content: flex-start;
    }
    .intention-sec .intention-left h3 {
        margin: 0 0 20px 0;
    }

    
    .about-us-section{
        .about-us-left {
            padding: 50px 20px;
            h4 {
                font-size: 25px;
                line-height: 30px;
            }
            p {
                line-height: 22px;
                margin: 15px 0;
            }
        }

        .about-us-right {
            padding: 80px 20px;
            height: auto;
        }
    }



    
    .estimated-future-sec {
        padding: 50px 0;
        .estimated-future-left {
            padding: 0 15px 30px;
            p {
                font-size: 26px;
                line-height: 36px;
            }
        }
        .estimated-future-right p {
            font-size: 26px;
        }
        .vacant-shape {
            bottom: -40px;
            SVG {
                height: 40px;
            }
        }
    }
    
    .global-reach-section {
        padding: 120px 10px 50px;
        .text-left h3 {
            margin: 0 0 9px 0;
        }
        .text-right .btn-secondary {
            margin-top: 0;
        }
    }
    .working-growth-sec .text-left h3 {
        margin: 0 0 20px 0;
    }
    .working-growth-sec {
        padding: 50px 10px;
    }
    .safety-statement-sec .statement-left h3 {
        margin: 0 0 10px 0;
    }
    .safety-statement-sec {
        padding: 110px 10px 50px;
    }
    .work-stand-sec {
        padding: 50px 10px;
    }
    .work-stand-sec .work-vacant-shape svg {
        height: 40px;
    }
    .work-stand-sec .work-vacant-shape {
        top: -40px;
    }
    .development-sec {
        padding: 70px 10px 50px;
    }
    .development-sec .development-left h3 {
        margin: 0 0 5px 0;
    }
    .development-sec .development-left p {
        font-size: 26px;
        margin: 0 0 15px 0;
    }
    .contact-section {
        background-color: #212121;
    }

    footer {
        background-color: #3e7299;
        padding: 50px 10px;
    }
    footer .footer-left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .footer-left span {
        display: flex;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px 0;
    }
    .footer-left span img {
        height: auto;
    }
    footer .footer-left p {
        font-size: 16px;
        padding-left: 0;
        line-height: 20px;
    }
    footer .footer-right p {
        font-size: 16px;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .heroServices .heroFlag {
        padding: 50px 30px;
    }
    .heroServices .heroFlag .titleText h2 {
        font-size: 44px;
        margin-bottom: 10px;
    }
    .heroServices .heroFlag .titleText p {
        font-size: 24px;
        line-height: 30px;
    }
    .contact-location {
        padding: 50px 0;
    }
    .enquireForm {
        margin-top: 50px;
    }
    .service {
        padding: 50px 10px;
    }
    .service .text-box {
        margin-bottom: 20px;
    }
    .service .text-box h3,
    .service .text-box h4,
    .service .text-box p {
        color: #fff;
        margin-bottom: 5px;
    }
    .service .text-box h4 {
        font-size: 24px;
        line-height: 30px;
        margin: 5px 0 15px;
    }
    .service .text-box h5 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .service .btn-secondary {
        margin-top: 30px20px;
    }
    .advantages {
        padding: 50px 10px;
    }
    .advantages .text-box h3 {
        font-size: 24px;
        line-height: 36px;
    }
    .advantages .text-box h4 {
        font-size: 26px;
    }
    .inquiry {
        background: #F3F3F3;
        padding: 50px 10px;
    }
    .inquiry h3 {
        margin-bottom: 20px;
        line-height: 1;
    }
    .service .text-box .video-holder .iconPlay svg {
        width: 90px;
        height: 90px;
        display: block;
    }
    .gallery-main {
        background-color: #fff;
        margin: 0 -10.5px;
        padding: 0;
    }
    .video-wrapper {
        padding: 50px 20px;
        height: 100%;
    }
    .gallery-main h3 {
        font-size: 36px;
        margin: 0 0 20px 0;
    }
    .gallery-main .inner {
        padding: 50px 20px;
        height: auto;
    }
    .globalReach {
        padding: 50px 10px;
    }
    .franchise {
        min-height: 380px;
        padding: 50px 10px;
    }
    .working-growth {
        padding: 50px 10px;
    }
    .news-sec {
        padding: 50px 10px;
    }
    .heroServices .heroFlag {
        padding: 50px 20px;
    }
    .heroServices .text-box {
        padding: 50px 20px;
    }
    .method,
    .standardSolar {
        padding: 50px 20px;
    }
    .caption h2 {
        font-size: 28px;
        margin: 0 0 20px 0;
    }
    .safetyStand {
        padding: 50px 10px;
    }
    .hero-section.partner {
        height: auto;
        flex-direction: column;
        background-color: rgba(107, 107, 119, 0.1);
    }
    .hero-section.partner iframe {
        position: static;
    }
    .hero-section .container .titleText h2 {
        font-size: 38px;
        line-height: 40px;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .hero-section .container .titleText {
        display: none;
    }
    .cleaning {
        padding: 50px 10px;
    }
    .cleaning h2 {
        font-size: 34px;
        line-height: 44px;
    }
    .cleaning p {
        font-size: 26px;
        line-height: 36px;
    }
    .partner-franchise .opertunityBox h2 {
        font-size: 36px;
        line-height: 42px;
    }
    .partner-franchise .opertunityBox p {
        font-size: 22px;
        line-height: 30px;
    }
    .partner-franchise .opertunityBox {
        padding: 120px 20px 80px;
    }
    .partner-franchise .text-box h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .estimate .text-box h2 {
        font-size: 46px;
        line-height: 56px;
    }
    .estimate .text-box {
        padding: 10px 10px;
    }
    .estimate {
        padding: 40px 0;
    }
}

@media (max-width: 575px) {
    .hero-section iframe {
        height: 220px !important;
        margin: 0;
    }
    .hero-section .banner-inner .banner-form {
        padding: 30px;
    }
    .arrived-drone-sec .image-holder h4 {
        font-size: 32px;
        line-height: 38px;
        padding: 40px 20px 20px 20px;
    }
    .arrived-drone-sec .image-holder h4 {
        padding: 70px 20px 20px 20px;
    }
    h3 {
        font-size: 26px;
        line-height: 36px;
    }
    .global-reach-section {
        padding: 90px 10px 50px;
    }
    .estimated-future-sec .estimated-future-left p {
        font-size: 20px;
        line-height: 30px;
    }
    .estimated-future-sec .estimated-future-right p {
        font-size: 22px;
    }
    .heroServices .heroFlag {
        padding: 50px 20px;
    }
    .heroServices .heroFlag .titleText h2 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .heroServices .heroFlag .titleText p {
        font-size: 20px;
        line-height: 25px;
    }
    .heroServices .text-box {
        padding: 50px 20px;
    }
    .method {
        padding: 50px 20px;
    }
    .standardSolar {
        padding: 70px 10px 50px;
    }
    .standardSolar .text-box p:last-child {
        margin: 0;
    }
    .standardSolar.aboutSetting .shape {
        height: 25px;
    }
    .futureDevelopment .shape {
        height: 25px;
    }
    .standardSolar .text-box h3 {
        margin-bottom: 10px;
    }
    .futureDevelopment .text-box h4 {
        font-size: 26px;
        margin: 0 0 15px 0;
    }
    .contact-location {
        padding: 50px 10px;
    }
    .contact-location .titleText p {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .contact-location .text-box {
        margin-top: 20px;
    }
    .service .text-box h4 {
        font-size: 20px;
        line-height: 26px;
    }
    .advantages .text-box h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .advantages .text-box h4 {
        font-size: 18px;
    }
    .gallery-main .gallery-container {
        margin: 0;
    }
    .gallery-main .gallery-container li {
        float: none;
        padding: 5px 0;
    }
    .gallery-main .gallery-container li.large,
    .gallery-main .gallery-container li.medium,
    .gallery-main .gallery-container li.small {
        width: 100%;
    }
    .gallery-main .gallery-container li.small img {
        height: auto;
        object-fit: cover;
        width: 100%;
    }
    .gallery-main .gallery-container li.medium img {
        height: auto;
        object-fit: cover;
        width: 100%;
        width: 100%;
    }
    .locationContent .caption h3 {
        font-size: 22px;
    }
    .franchise .text-box h4 {
        font-size: 34px;
        line-height: 42px;
    }
    .franchise .text-box p {
        font-size: 14px;
    }
    .news-sec {
        padding: 50px 10px;
    }
    .detail-card h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .caption h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }
    .solarPanel .caption {
        padding: 50px 20px;
        min-height: auto;
    }
    .partner-franchise .opertunityBox h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .partner-franchise .opertunityBox p {
        font-size: 18px;
        line-height: 24px;
    }
    .partner-franchise .text-box h2 {
        font-size: 18px;
        line-height: 24px;
    }
    .partner-franchise .text-box h4 {
        font-size: 14px;
        line-height: 20px;
    }
    .estimate .text-box p {
        font-size: 18px;
        line-height: 26px;
    }
    .estimate .text-box h2 {
        font-size: 38px;
        line-height: 46px;
    }
    .estimate .text-box h4 {
        font-size: 20px;
        line-height: 30px;
    }
    .how-ktv .text-box h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .how-ktv .img-holder img {
        height: 300px;
        object-fit: cover;
    }
    .how-ktv .img-holder {
        height: auto;
        display: flex;
    }
}

@media (max-width: 374px) {
    .hero-section iframe {
        height: 185px !important;
    }
    .hero-section .banner-inner .banner-form {
        padding: 20px;
    }
    .title h2 {
        font-size: 32px;
        margin: 0 0 10px 0;
    }
    .title p {
        font-size: 16px;
        line-height: 26px;
    }
    .vacant-pilot-section .text-box .media h4 {
        font-size: 22px;
        margin: 20px 0;
    }
    .arrived-drone-sec .image-holder h4 {
        font-size: 26px;
        line-height: 34px;
    }
    .arrived-drone-sec .text-box h4 {
        font-size: 20px;
        line-height: 30px;
    }
    h3 {
        font-size: 22px;
        line-height: 32px;
    }
    .let-talk-sec .let-talk-left h4 {
        font-size: 38px;
        line-height: 40px;
        margin: 0 0 10px 0;
    }
    .let-talk-sec .let-talk-left p {
        font-size: 20px;
        line-height: 32px;
    }
    .estimated-future-right p {
        font-size: 18px;
    }
    .cleaning h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .cleaning p {
        font-size: 20px;
        line-height: 26px;
    }
    .partner-franchise .opertunityBox h2 {
        font-size: 20px;
        line-height: 26px;
    }
}
