html,
body {
    outline: none;
    background-color: $white;
    font-size: $font14;
    line-height: 154.4%;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h2 {}

a:focus {
    outline: none;
    outline-offset: inherit;
}

button:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-color: transparent;
}

p {
    margin-bottom: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin-left: 0;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    outline-offset: inherit;
}

.btn_center {
    display: block;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

.cta-links {
    text-decoration: underline;
    display: inline-flex;
    margin-top: 10px;
}

.caption {
    h2 {
        text-transform: uppercase;
        font-size: $font42;
        font-weight: normal;

    }

    p {
        font-size: $font16;
        @include NeoSans(600)
    }
}