/////////////////////////////////
//    Theme Primary Colors
//////////////////////////////////
$whiteSecondary: #f3f3f3;
$primary: #212121;
$secondary: #4733fd;
$orange: #3437ff;
$dark_gray: #424242;
$mainly_blue: #06222d;
$blue: #6820e1;
$gray: #474747;
$eclipse: #3a3a3a;
$charcoal: #454545;
$dark_gray2: #3e3e3e;
$bright_gray: #54595f;
$gray53: #878787;
$gray10: #e6e6e6;
$matterhorn: #4b4b4b;
$overlay: #2c5a75;
/////////////////////////////////
//        FONT SIZES
//////////////////////////////////
$font62: 62px;
$font54: 54px;
$font50: 50px;
$font42: 42px;
$font41: 41px;
$font40: 40px;
$font38: 38px;
$font32: 32px;
$font28: 28px;
$font26: 26px;
$font24: 24px;
$font20: 20px;
$font16: 16px;
$font14: 14px;
$font13: 13px;
$font12: 12px;
