@import "_fonts.scss";
@import "~bootstrap/scss/bootstrap";
@import "_mixin.scss";
@import "_variables.scss";
//@import '_reset.scss';
@import "_typography.scss";
@import "_responsive.scss";

// Header
header {
	background-color: $primary;

	.navigation {
		max-width: 1230px;
		width: 100%;
		margin: 0 auto;
		.navbar {
			padding: 0;
			padding-left: 10px;
			padding-right: 10px;
			width: 100%;
			.navbar-brand {
				padding: 0;
				margin: 0;
				img {
					height: 74px;
				}
			}
			.navbar-nav {
				.nav-item {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 10px;
					.nav-link {
						color: $white;
						text-transform: uppercase;
						font-size: $font16;
						@include NeoSans(400);
						padding: 0 15px;
						&.pertner-btn {
							@include border_radius(8px);
							height: 44px;
							width: 194px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0;
							background-color: $orange;
							@include NeoSans(600);
						}
					}
					&:last-child {
						margin-left: 21px;
					}
				}
			}
		}
	}

	.header-shape {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: -49px;
		z-index: 100;
		svg {
			height: 49px;
			transform: translateX(0) rotateY(183deg);
			width: calc(100% + 1.3px);
			display: block;
		}
	}
}

section#heroSection {
	&.hero-section {
		position: relative;
		margin: 0 0 -5px 0;
		.banner-inner {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  width: 100%;
		  margin: 0 auto;
		  transform: translate(-50%, -50%);
		  max-width: 1390px;
		  // padding: 120px 0 0 0;
		  .banner-form {
			background-color: rgba($primary, 0.93);
			padding: 57px;
			max-width: 475px;
			width: 100%;
			@include border_radius(16px 80px 16px 80px);
			.text-box {
			  margin: 0 0 35px 0;
			  h3 {
				color: $white;
				font-size: $font28;
				text-transform: uppercase;
				line-height: 32px;
				@include NeoSans(900);
				margin: 0 0 24px 0;
			  }
			  p {
				color: $white;
				font-size: $font13;
				line-height: 15px;
				margin-bottom: 14.4px;
				@include NeoSans(600);
			  }
			}
			form {
			  .form-group {
				margin-bottom: 10px;
				.form-control {
				  @include border_radius(0);
				  background-color: $white;
				  box-shadow: none;
				  height: 40px;
				  font-size: $font12;
				  @include NeoSans(400);
				  text-transform: uppercase;
				  border: none;
				  &:focus {
					border-color: transparent;
				  }
				}
				textarea {
				  &.form-control {
					height: 106px;
					resize: none;
				  }
				  &.info-field {
					height: 58px;
				  }
				}
				.btn-default {
				  width: 100%;
				  display: flex;
				  align-items: center;
				  justify-content: center;
				  padding: 0;
				  height: 40px;
				  max-width: 237px;
				  width: 100%;
				  color: #fff;
				  text-transform: uppercase;
				  @include NeoSans(900);
				  letter-spacing: 0.5px;
				  background-color: $orange;
				}
			  }
			}
		  }
		}
	  }
}

section#heroPartnerSection{
	&.hero-partner-section {
		position: relative;
	  
		&.partner {
		  height: 100vh;
		  display: flex;
		  align-items: center;
		  overflow: hidden;
	  
		  iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		  }
		}
	  
		.container {
		  position: relative;
		  z-index: 99;
	  
		  .titleText {
			p,
			h2 {
			  color: $white;
			}
	  
			h2 {
			  color: $white;
			  font-size: 68px;
			  font-weight: 700;
			  text-transform: none;
			  line-height: 68px;
			  word-spacing: 0px;
			  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
			  max-width: 360px;
			  margin-bottom: 20px;
			}
	  
			p {
			  font-size: $font16;
			  font-weight: 600;
			}
		  }
		}
	  }
}

section#aboutUsSection{
	&.about-us-section {
		li {
			margin: 0%;
		}
		.about-us-left {
			padding: 120px;
			height: 100%;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: flex-start;
			margin-top: 0%;
			h4 {
				color: $gray;
				@include NeoSans(400);
				font-size: $font42;
				text-transform: uppercase;
				line-height: 52px;
			}
			p {
				color: $gray;
				// text-transform: uppercase;
				line-height: 24px;
				margin: 24px 0 32px;
			}
		}
		.about-us-right {
			background: url(~assets/images/ktv_dronepilot.jpg) no-repeat;
			background-position: center center;
			background-size: cover;
			position: relative;
			object-fit: cover;
			padding: 100px;
			height: 800px;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($black, 0.4);
			}
			.text-box {
				position: relative;
				z-index: 10;
				h3 {
					color: $white;
					margin: 0 0 26px 0;
				}
				h4 {
					color: $white;
					@include NeoSans(600);
					font-size: $font42;
					text-transform: uppercase;
					line-height: 52px;
				}
			}
		}
	}
}

section#vacantPilotPositionSection{
	&.vacant-pilot-section {
		background-color: $primary;
		padding: 66px 0;
		position: relative;
		.text-box {
		  text-align: center;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  .media {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 20px;
			h4 {
			  color: $white;
			  @include NeoSans(600);
			  font-size: $font40;
			  text-transform: uppercase;
			  margin-left: 16px;
			  span {
				@include NeoSans(400);
			  }
			}
		  }
		}
	  }
}

section#familySection{
	&.family {
		background: $primary;
	  
		.text-box {
		  padding: 200px 100px;
	  
		  h3 {
			color: $white;
			text-align: center;
		  }
	  
		  h4 {
			color: $white;
			font-size: 18px;
			margin-bottom: 20px;
		  }
	  
		  p {
			color: $white;
			margin-bottom: 20px;
		  }
		}
	  }
}

section#advantageSection {
	h3 {
		color: $mainly_blue;
		font-size: $font62;
		text-transform: uppercase;
		line-height: 68px;
		@include NeoSans(900);
	}

	p {
		font-size: $font16;
		line-height: 24px;
		@include NeoSans(400);
		color: $charcoal;
	}
	&.advantage-sec {
		background-color: #e4e7ed;
		padding: 130px 0;
		.text-box {
			height: 100%;
			display: flex;
			align-items: center;
			h3 {
				max-width: 432px;
			}
		}
		.text-list {
			ul {
				li {
					display: flex;
					align-items: center;
					margin: 0 0 24px 0;
					&:last-child {
						margin: 0;
					}
					span {
						max-width: 46px;
						width: 100%;
						margin: 0 16px 0 0px;
					}
					p {
						flex: 1;
						@include NeoSans(600);
						font-size: $font20;
						line-height: 24px;
					}
				}
			}
		}
	}
}

section#developmentSection {
	&.development-sec {
		background-color: #e4e7ed;
		padding: 235px 0 150px;
		.development-left {
			h3 {
				color: #212121;
				margin: 0 0 30px 0;
			}
			p {
				color: #1f1f1f;
				@include NeoSans(400);
				font-size: $font42;
				text-transform: uppercase;
				line-height: 52px;
			}
		}
		.text-box {
			padding: 0 0 0 50px;
			ul {
				li {
					margin-bottom: 24px;
					position: relative;
					padding-left: 18px;
					p {
						color: #1f1f1f;
						strong {
							display: block;
						}
					}
					// &::after {
					//   position: absolute;
					//   content: "";
					//   left: 0;
					//   top: 8px;
					//   background-color: $white;
					//   width: 6px;
					//   height: 6px;
					//   border-radius: 50%;
					// }
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

section#servicesSection {
	&.services-section {
		background-color: #e4e7ed;
		padding: 158px 0 152px;
	}

	.services-inner {
		margin: 34px 0 0 0;
		.text-box {
			h3 {
				font-size: $font26;
				line-height: 1;
			}
			p {
				color: $dark_gray;
				margin: 24px 0 35px 0;
				max-width: 540px;
				width: 100%;
			}
		}
	}
}

section#newsSection {
	.news-sec {
		padding: 65px 0;

		.news-inner {
			h4 {
				@include NeoSans(400);
				font-size: $font38;
				text-transform: uppercase;
				line-height: 1;
				color: $dark_gray2;
				margin: 0 0 50px 0;
			}
		}
	}

	.news-box {
		margin: 20px 0;

		.text-box {
			margin: 16px 0 0 0;

			h5 {
				@include NeoSans(600);
				font-size: $font20;
				text-transform: uppercase;
				line-height: 1;
				color: $bright_gray;
				margin: 0 0 5px 0;
			}

			span {
				display: block;
				color: $gray53;
				@include NeoSans(400);
				font-size: $font14;
				text-transform: uppercase;
				line-height: 16px;
			}

			p {
				color: $matterhorn;
				@include NeoSans(400);
				font-size: $font14;
				line-height: 16px;
				margin: 17px 0 13px 0;
			}

			a {
				font-size: $font13;
				@include NeoSans(600);
				color: $black;
				display: block;
			}
		}
	}

	.detail-card {
		h3 {
			font-size: $font32;
			line-height: 1;
			margin-bottom: 0.9rem;
		}

		.date {
			margin-bottom: 0.9rem;
		}

		.titleImg {
			margin-bottom: 0.9rem;
		}

		.text-box {
			p {
				margin-bottom: 0.9rem;
			}
		}

		.like {
			display: flex;
			align-items: center;
			margin: 0 -8px 0.9rem;

			li {
				padding: 0 8px;

				a {
					display: inline-flex;
					align-items: center;

					i {
						margin-right: 8px;
						line-height: 0;

						svg {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0;

		a {
			display: flex;
			align-items: center;

			i {
				margin-right: 10px;
			}

			span {
				flex: 1;
				font-size: 14px;
				text-transform: uppercase;
				color: $gray53;

				&.media {
					display: flex;
					flex-direction: column;

					strong {
						font-weight: bold;
						color: $black;
						font-weight: 700;
					}
				}
			}
		}
	}
}
