html{
    font-size: 18px;
}

section#heroPartnerSection {
	&.hero-partner-section {
		position: relative;

		&.partner {
			height: 100vh;
			display: flex;
			align-items: center;
			overflow: hidden;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}

		.titleText {
			p,
			h2 {
				color: white;
			}

			h2 {
				color: white;
				font-size: 68px;
				font-weight: 700;
				text-transform: none;
				line-height: 68px;
				word-spacing: 0px;
				text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
				max-width: 360px;
				margin-bottom: 20px;
			}

			p {
				font-size: $font16;
				font-weight: 600;
			}
		}
	}
}

section#familySection {
	&.family {
		background: $primary;

		.text-box {
			padding: 200px 100px;


		}
	}
}

section#newsSection {
	.news-sec {
		padding: 65px 0;

		.news-inner {
			h4 {
				@include NeoSans(400);
				font-size: $font38;
				text-transform: uppercase;
				line-height: 1;
				color: $dark_gray2;
				margin: 0 0 50px 0;
			}
		}
	}

	.news-box {
		margin: 20px 0;

		.text-box {
			margin: 16px 0 0 0;

			h5 {
				@include NeoSans(600);
				font-size: $font20;
				text-transform: uppercase;
				line-height: 1;
				color: $bright_gray;
				margin: 0 0 5px 0;
			}

			span {
				display: block;
				color: $gray53;
				@include NeoSans(400);
				font-size: $font14;
				text-transform: uppercase;
				line-height: 16px;
			}

			p {
				color: $matterhorn;
				@include NeoSans(400);
				font-size: $font14;
				line-height: 16px;
				margin: 17px 0 13px 0;
			}

			a {
				font-size: $font13;
				@include NeoSans(600);
				color: black;
				display: block;
			}
		}
	}

	.detail-card {

		.date {
			margin-bottom: 0.9rem;
		}

		.titleImg {
			margin-bottom: 0.9rem;
		}

		.text-box {
			p {
				margin-bottom: 0.9rem;
			}
		}

		.like {
			display: flex;
			align-items: center;
			margin: 0 -8px 0.9rem;

			li {
				padding: 0 8px;

				a {
					display: inline-flex;
					align-items: center;

					i {
						margin-right: 8px;
						line-height: 0;

						svg {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0;

		a {
			display: flex;
			align-items: center;

			i {
				margin-right: 10px;
			}

			span {
				flex: 1;
				font-size: 14px;
				text-transform: uppercase;
				color: $gray53;

				&.media {
					display: flex;
					flex-direction: column;

					strong {
						font-weight: bold;
						color: black;
						font-weight: 700;
					}
				}
			}
		}
	}
}

section#workingGrowthSection {
	&.working-growth-section {
		background-color: rgba($secondary, 0.1);
		position: relative;
		padding: 240px 0;
		.text-box {
			padding: 8px 0 0 0;
		}
	}
}

section#safetyStatementSection {
	&.safety-statement-section {
		background-color: $primary;
		padding: 250px 0 170px;
		.statement-left {
			h3 {
				color: white;
				margin: 0 0 23px 0;
			}
			p {
				color: white;
				margin-bottom: 14px;
				max-width: 639px;
				width: 100%;
			}
		}
		.text-box {
			p {
				color: white;
				@include NeoSans(400);
				font-size: $font16;
				line-height: 24px;
			}
			ul {
				padding: 14px 0 23px 23px;
				li {
					color: white;
					@include NeoSans(600);
					font-size: $font16;
					margin-bottom: 0px;
					line-height: 24px;
					position: relative;
					padding-left: 18px;
					&::after {
						position: absolute;
						content: "";
						left: 0;
						top: 8px;
						background-color: white;
						width: 6px;
						height: 6px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

article#newsArticle {
	p {
		font-size: $font16;
		line-height: 24px;
		@include NeoSans(400);
		color: $charcoal;
	}

	.btn-secondary {
		background-color: $orange;
		border: 1px solid $orange;
	}

	.news-sec {
		padding: 65px 0;

		.news-inner {
			h4 {
				@include NeoSans(400);
				font-size: $font38;
				text-transform: uppercase;
				line-height: 1;
				color: $dark_gray2;
				margin: 0 0 50px 0;
			}
		}
	}

	.news-box {
		margin: 20px 0;

		.text-box {
			margin: 16px 0 0 0;

			h5 {
				@include NeoSans(600);
				font-size: $font20;
				text-transform: uppercase;
				line-height: 1;
				color: $bright_gray;
				margin: 0 0 5px 0;
			}

			span {
				display: block;
				color: $gray53;
				@include NeoSans(400);
				font-size: $font14;
				text-transform: uppercase;
				line-height: 16px;
			}

			p {
				color: $matterhorn;
				@include NeoSans(400);
				font-size: $font14;
				line-height: 16px;
				margin: 17px 0 13px 0;
			}

			a {
				font-size: $font13;
				@include NeoSans(600);
				color: black;
				display: block;
			}
		}
	}

	.detail-card {
		h3 {
			font-size: $font32;
			line-height: 1;
			margin-bottom: 0.9rem;
		}

		.date {
			margin-bottom: 0.9rem;
		}

		.titleImg {
			margin-bottom: 0.9rem;
		}

		.text-box {
			p {
				margin-bottom: 0.9rem;
			}
		}

		.like {
			display: flex;
			align-items: center;
			margin: 0 -8px 0.9rem;

			li {
				padding: 0 8px;

				a {
					display: inline-flex;
					align-items: center;

					i {
						margin-right: 8px;
						line-height: 0;

						svg {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}
	}

}

.flip-horizontal {
	transform: scaleX(-1);
}

.btn-white {
	color: #1f1a1c;

	background-color: white;
	padding: 0;
	border: 1px solid $orange;
	display: flex !important;
	align-items: center;
	justify-content: center;
	// color: white;
	text-transform: uppercase;
	@include NeoSans(600);
	height: 54px;
	padding: 0 29px;
	span {
		display: block;
		margin-right: 10px;
		svg {
			width: 20px;
			height: 20px;
			display: block;
		}
	}
	&:hover {
		background-color: white !important;
	}
}

#indexPage {


	/***** ESTIMATES FUTURE SEC ******/

	.estimated-future-section {
		background-color: #1f1f1f;
		padding: 228px 0;
		position: relative;
		.estimated-future-left {
			padding: 0 15px;
			p {
				color: white;
				@include NeoSans(400);
				font-size: $font42;
				text-transform: uppercase;
				line-height: 52px;
				max-width: 730px;
				width: 100%;
				text-align: center;
				margin: 0 auto;
			}
		}
		.estimated-future-right {
			text-align: center;
			height: 100%;
			padding: 0 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h3 {
				color: white;
			}
			p {
				color: white;
				@include NeoSans(900);
				font-size: $font41;
				line-height: 40px;
			}
		}
		.vacant-shape {
			bottom: -70px;
			SVG {
				height: 70px;
			}
		}
	}

	/***** POPULATED SEC *****/

	.populated-section {
		display: flex;
		align-items: center;
		img {
			height: 530px;
			width: 100%;
			object-fit: cover;
		}
	}

	/***** WORK STAND SEC *****/

	.work-stand-section {
		background-color: $secondary;
		position: relative;
		padding: 140px 0;
		h3 {
			color: white;
		}
		.text-box {
			p {
				color: white;
				margin-top: 23px;
			}
		}
		.work-vacant-shape {
			bottom: auto;
			top: -66px;
			transform: rotatex(180deg) rotatey(180deg);
			width: 100%;
			svg {
				height: 66px;
			}
		}
	}
}

.btn-secondary {
	background-color: $orange;
	padding: 0;
	border: 1px solid $orange;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-transform: uppercase;
	@include NeoSans(200);
	height: 54px;
	padding: 0 29px;
	span {
		display: block;
		margin-right: 10px;
		svg {
			width: 20px;
			height: 20px;
			display: block;
		}
	}
}

#partnerPage {
	p {
		font-size: $font16;
		line-height: 24px;
		@include NeoSans(400);
		color: $charcoal;
	}

	.cleaning {
		background-color: $mainly_blue;
		padding: 40px 0;

		h2 {
			color: white;
			font-size: $font54;
			font-weight: 800;
			text-transform: none;
			line-height: 58px;
			margin-bottom: 10px;
		}

		p {
			color: white;
			font-size: $font40;
			font-weight: 300;
			text-transform: none;
			line-height: 52px;
		}
	}

	.partner-franchise {
		position: relative;

		.text-box {
			padding: 20% 20%;

			.btn {
				display: inline-flex;
				align-items: center;

				i {
					margin-right: 10px;
				}
			}
		}

		.opertunityBox {
			padding: 20% 20%;
			background: url(~assets/images/ktv_5461.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			height: 100%;

			&:after {
				content: "";
				inset: 0;
				background: rgba(0, 0, 0, 0.5);
				position: absolute;
			}

			h2 {
				color: white;
				font-size: 66px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 72px;
				margin-bottom: 20px;
				position: relative;
			}

			p {
				color: white;
				font-size: 42px;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 52px;
				position: relative;
			}
		}

		.text-box {
			background: $bright_gray;

			h2 {
				font-size: 26px;
				font-weight: 600;
				line-height: 30px;
				margin-bottom: 15px;
				color: white;
			}

			h4 {
				font-size: 1.25rem;
				margin-bottom: 15px;
				color: white;
			}

			p {
				margin-bottom: 15px;
				color: white;
			}
		}

		.shape {
			height: 60px;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			width: 100%;

			path {
				fill: $mainly_blue;
			}
		}
	}

	.estimate {
		text-align: center;

		.text-box {
			padding: 200px 40px;

			p {
				font-size: 54px;
				font-weight: 500;
				text-transform: uppercase;
				line-height: 58px;
				max-width: 770px;
				margin: 0 auto;
			}

			h2 {
				font-size: 90px;
				font-weight: 800;
				text-transform: uppercase;
				line-height: 90px;
			}

			h4 {
				font-size: 41px;
				font-weight: 800;
				line-height: 40px;
			}
		}
	}

	.advantages {
		padding: 240px 0 110px;
		background-image: url(~assets/images/ktv_5505.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			inset: 0;
			background-color: black;
			opacity: 0.71;
		}
	
		.text-box {
			h4,
			h3,
			p {
				color: white;
			}
			h4 {
				margin-top: 0.5rem;
				margin-bottom: 1rem;
				font-weight: bold;
				line-height: 1.2;
				font-size: $font32;
			}
			p {
				margin-bottom: 0.9rem;
			}
		}
	}

	.partnerAdvantage {
		overflow: hidden;

	

		.video {
			position: absolute;
			inset: 0;

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}

	.how-ktv {
		.text-box {
			padding: 200px;

			h3 {
				font-size: 42px;
				text-transform: uppercase;
				font-weight: 400;
				margin-bottom: 20px;
				line-height: 52px;
			}

			p {
				margin-bottom: 20px;
			}

			a {
				i {
					margin-right: 10px;
				}
			}
		}

		.img-holder {
			height: 100%;
			position: relative;

			&:after {
				content: "";
				inset: 0;
				background: rgba(0, 0, 0, 0.5);
				position: absolute;
			}

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
}


#locationPage {
	p {
		font-size: $font16;
		line-height: 24px;
		@include NeoSans(400);
		color: $charcoal;
	}

	.globalReach {
		background: $primary;
		padding: 140px 0 100px;
		.text-box {
			h3,
			p {
				color: white;
				margin-bottom: 20px;
			}
		}
	}

	.locationContent {
		padding: 180px;
		.caption {
			h3 {
				font-size: $font42;
				@include NeoSans(400);
				line-height: 1.4;
				margin-bottom: 20px;
			}
			p {
				@include NeoSans(400);
				text-transform: uppercase;
				margin-bottom: 20px;
			}
		}
		.text-box {
			p {
				margin-bottom: 0.9rem;
			}
		}
	}

	.map-holder {
		height: 100%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			background-position: center center;
		}
	}

	.franchise {
		position: relative;
		background-color: black;
		background-image: url(~assets/images/kart_bluesss.png);
		min-height: 800px;
		padding: 120px 0;
		display: flex;
		align-items: center;
		&:before {
			content: "";
			position: absolute;
			inset: 0;
			background-color: black;
			opacity: 0.31;
		}
		
		.text-box {
			h3,
			p,
			h4 {
				color: white;
				margin-bottom: 20px;
			}
			h4 {
				font-size: $font42;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 52px;
			}
			p {
				@include NeoSans(600);
				font-size: 1.5rem;
			}
		}
	}

	.working-growth {
		padding: 240px 0 70px 0;
		background-color: whiteSecondary;
		img {
			max-width: 100%;
		}
		.text-box {
			h3,
			p {
				margin-bottom: 0.9rem;
			}
		}
	}
}

#franchisePage {
	p {
		font-size: $font16;
		line-height: 24px;
		@include NeoSans(400);
		color: $charcoal;
	}
	
	.titleText {
		position: relative;
		h2 {
			font-size: $font62;
			color: white;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		p {
			font-size: $font42;
			text-transform: uppercase;
			color: white;
			line-height: 52px;
		}
	}

	.method {
		background: $primary;
		color: white;
		padding: 240px 0 100px 0;
		ol {
			li {
				margin-bottom: 20px;
			}
		}
		.text-box {
			h3 {
				color: white;
			}
		}
		h4 {
			font-size: 1.25rem;
			color: white;
			line-height: 1.4;
			margin-bottom: 0.9rem;
		}
		p {
			color: white;
			margin-bottom: 0.9rem;
		}
	}
	.standardSolar {

		&.aboutSetting {
			position: relative;
			background: $blue;

			.shape {
				fill: $primary;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 46px;
				width: 100%;
			}

			.settingStabdardBox {
				height: 100%;
			}

			.text-box {
				h3,
				p {
					color: white;
					margin-bottom: 0.9rem;
				}
			}
		}
	}

	.futureDevelopment {
		position: relative;
		background: whiteSecondary !important;

		.shape {
			fill: $blue;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 46px;
			width: 100%;
		}

		.text-box {
			h3 {
				color: $primary !important;
			}

			h4 {
				font-weight: normal;
				text-transform: uppercase;
				font-size: $font42;
				color: $primary !important;
			}

			ul {
				padding-left: 20px;
				color: $primary !important;

				li {
					list-style: disc;
					font-size: $font16;
				}
			}
		}
	}

	.text-list {
		ul {
			li {
				display: flex;
				align-items: center;
				margin: 0 0 24px 0;
				&:last-child {
					margin: 0;
				}
				span {
					max-width: 46px;
					width: 100%;
					margin: 0 16px 0 0px;
				}
				p {
					flex: 1;
					@include NeoSans(600);
					font-size: $font20;
					line-height: 24px;
				}
			}
		}
	}
}

#franchiseIndexPage {
	.content {
		background-color: #d7d7d7;
	}

	p {
		font-size: $font16;
		line-height: 24px;
		@include NeoSans(400);
		color: $charcoal;
	}
	

	.titleText {
		position: relative;
		h2 {
			font-size: $font62;
			color: white;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		p {
			font-size: $font42;
			text-transform: uppercase;
			color: white;
			line-height: 52px;
		}
	}

	.method {
		background: $primary;
		color: white;
		padding: 240px 0 100px 0;
		ol {
			li {
				margin-bottom: 20px;
			}
		}
		.text-box {
			h3 {
				color: white;
			}
		}
		h4 {
			font-size: 1.25rem;
			color: white;
			line-height: 1.4;
			margin-bottom: 0.9rem;
		}
		p {
			color: white;
			margin-bottom: 0.9rem;
		}
	}

	.futureDevelopment {
		position: relative;
		background: whiteSecondary !important;

		.shape {
			fill: $blue;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 46px;
			width: 100%;
		}

		.text-box {
			h3 {
				color: $primary !important;
			}

			h4 {
				font-weight: normal;
				text-transform: uppercase;
				font-size: $font42;
				color: $primary !important;
			}

			ul {
				padding-left: 20px;
				color: $primary !important;

				li {
					list-style: disc;
					font-size: $font16;
				}
			}
		}
	}
}

